#App {
  padding: 5%;
  text-align: center;
  font-size: 16px;
}

#submit {
  margin-top: 5px;
}

#party-popper {
  width: 200px;
  height: 200px;
}

.fade {
  animation-name: fade-in;
  animation-duration: 1s;
}

.fade-out-in {
  animation-name: fade-out-in;
  animation-duration: 2s;
}

.age-stats {
  opacity: 100
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 100 }
}

@keyframes fade-out-in {
  0% { opacity: 100 }
  50% { opacity: 0 }
  100% { opacity: 100 }
}
