@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2:wght@600');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
  padding: 5%;
  text-align: center;
  font-family: 'Baloo Bhai 2', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.CreateReaction > span {
  margin: 5px;
  cursor: pointer;
}
